---
import CodeBlock from "../components/CodeBlock.astro";
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
import ScenarioBars from "../components/ScenarioBars.astro";
import ThreeParetoFront from "../components/ThreeParetoFront.astro";
import TwoParetoFront from "../components/TwoParetoFront.astro";
import Layout from "../layouts/Layout.astro";

import { getEntry } from "astro:content";
import Portrait from "../slides/Portrait.astro";
import DeckIndex from "../components/DeckIndex.astro";

const moop2 = await getEntry("moops", "case1/moop2");
const moop3 = await getEntry("moops", "case2/moop2");
const scenarios = await getEntry("moops", "case2/moop3");
const scenarioNames = [
  "Reference case",
  "Scenario 1",
  "Scenario 2",
  "Scenario 3",
  "Scenario 4",
];
const colors = ["#5ca7e4", "#addb67", "#c792ea", "#F78C6C", "#ecc48d"];
---

<Layout
  title="Una Nueva Herramienta Integrada y Holística para el Eco-Diseño de Procesos Industriales"
  description="Sitio web de la defensa de doctorado para 'Una Nueva Herramienta Integrada y Holística para el Eco-Diseño de Procesos Industriales' por Miguel García Casas. Éste presenta una investigación que integra la simulación de procesos, el análisis del ciclo de vida (ACV) y el coste del ciclo de vida (ACCV) para la optimización basada en la sostenibilidad de los procesos industriales."
  author="Miguel García Casas"
>
  <Portrait />
  <Slide>
    <DeckIndex animate />
  </Slide>
  <Slide>
    <DeckIndex active="1" />
  </Slide>
  <Slide>
    <h2>Motivación</h2>
  </Slide>
  <Slide>
    <h1>Slide 1</h1>
    <p>This is a paragraph</p>
    <CodeBlock language="python">
      {
        `
		def function(): 
			print("Hello world!")
	  `
      }
    </CodeBlock>
    <SpeakerNote>Just a note</SpeakerNote>
  </Slide>
  <Slide>
    <h1>Slide 2</h1>
    <p>This is a paragraph</p>
  </Slide>
  <Slide>
    <ThreeParetoFront
      id={moop3.id}
      objectives={moop3.data.objectives}
      decisionVariables={moop3.data.decisionVariables}
      x_index={0}
      y_index={2}
      z_index={1}
      annotations={[
        { name: "Reference case", index: 5 },
        { name: "Scenario 1", index: 50 },
        { name: "Scenario 2", index: 100 },
      ]}
    />
  </Slide>

  <Slide>
    <TwoParetoFront
      id={moop2.id}
      objectives={moop2.data.objectives}
      decisionVariables={moop2.data.decisionVariables}
    />
  </Slide>
  <Slide>
    <ScenarioBars
      id={scenarios.id}
      objectives={scenarios.data.objectives}
      decisionVariables={scenarios.data.decisionVariables}
      scenarioNames={scenarioNames}
      colors={colors}
    />
  </Slide>
</Layout>
